.content {
        padding-top: 64px;
        padding-left: 30px;
        margin-left: 200px;
        height: auto;
        font-family: 'Libre Franklin', sans-serif;
        text-align: center;
}

h2 {
    margin-top : 120px;
    margin-bottom : 50px;
}

#add-service-button{
    margin-top: 50px;
    margin-bottom: 50px;
    width : 170px;
    font-size: 15px;
    font-weight: normal;
    background-color:black;
    border:2px solid cyan;
    border-radius: 7px;
}
